In [40]:
import pandas as pd
import numpy as np

In [24]:
dataset=pd.read_csv(r"C:\Users\aksha\OneDrive - SSN Trust\Desktop\AKSHARA\COLLEGE\SEM 3\EDDA\MODEL LAB\LAB_6\diabetes.csv")
dataset

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [26]:
dataset.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [32]:
column=list(dataset.columns)[1:6]
column

['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']

In [36]:
(dataset[column]==0).sum()

Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
dtype: int64

In [42]:
dataset[column].replace(0,np.nan)

     Glucose  BloodPressure  SkinThickness  Insulin   BMI
0      148.0           72.0           35.0      NaN  33.6
1       85.0           66.0           29.0      NaN  26.6
2      183.0           64.0            NaN      NaN  23.3
3       89.0           66.0           23.0     94.0  28.1
4      137.0           40.0           35.0    168.0  43.1
..       ...            ...            ...      ...   ...
763    101.0           76.0           48.0    180.0  32.9
764    122.0           70.0           27.0      NaN  36.8
765    121.0           72.0           23.0    112.0  26.2
766    126.0           60.0            NaN      NaN  30.1
767     93.0           70.0           31.0      NaN  30.4

[768 rows x 5 columns]

In [44]:
dataset[column].fillna(dataset[column],inplace=True)
dataset

C:\Users\aksha\AppData\Local\Temp\ipykernel_13208\1225621091.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[column].fillna(dataset[column],inplace=True)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [46]:
x=dataset.drop(["Outcome"],axis=1)
y=dataset["Outcome"]

In [48]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [62]:
from sklearn.feature_selection import SelectKBest, chi2
selector=SelectKBest(score_func=chi2,k=4)
x_selected=selector.fit_transform(x_train,y_train)
x_selected.shape

(576, 4)

In [70]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

selector=RFE(LogisticRegression(max_iter=1000),n_features_to_select=3)
x_selected=selector.fit_transform(x_train,y_train)
x_selected.shape

(576, 3)

In [76]:
selected_features = x.columns[selector.support_]
print("Selected Features:", selected_features)

Selected Features: Index(['Pregnancies', 'BMI', 'DiabetesPedigreeFunction'], dtype='object')